.content {
  width: 50%;
  margin: 0 auto;
}

.hdr {
  margin: 0 auto;
}

.ftr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-input {
  margin-bottom: 5px;
}

.add-input:first {
  margin-top: 5px;
}

.add-content {
  margin: 0 auto;
}
